body{
    background:#fff0f5;
    font-family:Arial, sans-serif;
    text-align:center;
    padding-top:100px;
}

#page2,
#page3,
#page4{
    display:none;
}

h1{
    color:#ff4d88;
}

p{
    width:70%;
    margin:auto;
    font-size:20px;
    line-height:1.6;
}

button{
    padding:15px 30px;
    margin:15px;
    border:none;
    border-radius:30px;
    font-size:18px;
    cursor:pointer;
}

img{
    width:300px;
    border-radius:20px;
    margin-top:20px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}